.full-width {
  width: 100% !important;
}

#tNc {
  font-size: 0.75rem;
  display: block;
}
#invalidCheck {
  width: 1rem;
  height: 1rem;
}
#tNc a {
  color: rgb(237, 90, 107);
}
.form-check {
  display: flex;
}
@media (max-width: 768px) {
  .form-check {
    display: initial;
  }
}
.form-check-input {
  position: initial;
}
