.form-control {
  margin-right: 0 !important;
  border: 0;
}
.location-marker {
  padding-right: 0.5rem;
  color: rgb(245, 112, 130);
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
#search-fields input:focus {
  box-shadow: none;
}

@media (max-width: 768px) {
  #search-fields {
    order: 1;
  }
  #search-fields input::-webkit-input-placeholder {
    padding: 0.25rem;
    font-size: 0.6rem;
  }
  .navbar-brand {
    margin: auto !important;
  }
  .user-buttons {
    margin: auto;
    padding: 0.25rem;
  }
  .location-marker {
    display: none;
  }
}
