.footer{
    background-color: rgb(248, 248, 248);
    margin: 10px 0px;
}

.footer-container{
    width: 80%;
    margin: 0px auto;
}

.footer-grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
}

.logo{
    grid-column: 1/2;
    font-size: 1.7em;
    color: red;
}

.country-lang{
    grid-column: 4/6;
    justify-self: end;
}

.country-lang button{
    margin: 10px;
    border-radius: 5px;
}

.footer-link-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-link{
    padding: 2px;
}

.icons{
    display: flex;
    margin: 10px;
}

.icon{
    font-size: 1.3em;
    margin: 5px;
}

.badges{
    display: flex;
    flex-direction: column;
}

.badge-image{
    width: 150px;
}

.toc{
    font-size: 0.8em;
}